html {
  font-size: max(0.52083333vw, 10px);
}

/* 온보딩 인트로 시작 */
.sec-gui-Onboarding-intro {
  position: relative;
  background-color: var(--Mono-100);
  padding-bottom: 14.4rem;
}
.sec-gui-Onboarding-intro-grid {
  max-width: var(--maxWidth);
  display: flex;
  align-items: center;
  gap: 4.8rem;
  margin: 0 auto;
}
.sec-gui-Onboarding-intro-grid > .title-text-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 8rem;
  width: 100%;
}
.sec-gui-Onboarding-intro-grid > .title-text-box > p:first-child {
  color: var(--MainOrange);
  font-weight: var(--BodyStrong);
  font-size: var(--Heading-S);
}
.sec-gui-Onboarding-intro-grid > .title-text-box > p:nth-child(2) {
  color: var(--Mono-22);
  font-weight: var(--Heading);
  font-size: var(--Heading-M);
}
.sec-gui-Onboarding-intro-grid > .title-text-box > p:last-child {
  color: var(--Mono-30);
  font-weight: var(--Body);
  font-size: var(--subHeading-M);
}
.sec-gui-Onboarding-intro-grid > .onboarding-background-img-box {
  position: absolute;
  bottom: 5%;
  right: 0;
}

/* 온보딩 인트로 끝 */

/* 온보딩 스크린 시작 */

/* 온보딩 스크린 리스트 박스 1 */
.sec-gui-Onboarding-screen {
  background-color: var(--Mono-100);
}
.sec-gui-Onboarding-screen .sec-gui-Onboarding-screen-grid {
  max-width: var(--maxWidth);
  margin: 0 auto;
}
.sec-gui-Onboarding-screen-list-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-bottom: 14.4rem;
}
.sec-gui-Onboarding-screen-list-box .sec-gui-Onboarding-screen-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.sec-gui-Onboarding-screen-list-box .sec-gui-Onboarding-screen-list .sec-gui-Onboarding-screen-list-text-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.sec-gui-Onboarding-screen-list-box .sec-gui-Onboarding-screen-list .sec-gui-Onboarding-screen-list-text-box .number-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 2.4rem;
  height: 2.4rem;
  background-color: var(--MainOrange);
  border-radius: 0.4rem;
}
.sec-gui-Onboarding-screen-list-box .sec-gui-Onboarding-screen-list .sec-gui-Onboarding-screen-list-text-box .number-box > span {
  color: var(--Mono-100);
  font-size: var(--Body-M);
  font-weight: var(--subHeading);
}
.sec-gui-Onboarding-screen-list-box .sec-gui-Onboarding-screen-list .sec-gui-Onboarding-screen-list-text-box > p {
  color: var(--Mono-30);
  font-size: var(--Body-M);
  font-weight: var(--Body);
}

/* 온보딩 리스트 박스 2 */

.sec-gui-Onboarding-screen-list-box-2 {
  display: flex;
  align-items: end;
  gap: 2rem;
  padding-bottom: 14.4rem;
}
.sec-gui-Onboarding-screen-list-box-2 .sec-gui-Onboarding-screen-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.sec-gui-Onboarding-screen-list-box-2 .sec-gui-Onboarding-screen-list .sec-gui-Onboarding-screen-list-text-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.sec-gui-Onboarding-screen-list-box-2 .sec-gui-Onboarding-screen-list .sec-gui-Onboarding-screen-list-text-box .number-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 2.4rem;
  height: 2.4rem;
  background-color: var(--MainOrange);
  border-radius: 0.4rem;
}
.sec-gui-Onboarding-screen-list-box-2 .sec-gui-Onboarding-screen-list .sec-gui-Onboarding-screen-list-text-box .number-box > span {
  color: var(--Mono-100);
  font-size: var(--Body-M);
  font-weight: var(--subHeading);
}
.sec-gui-Onboarding-screen-list-box-2 .sec-gui-Onboarding-screen-list .sec-gui-Onboarding-screen-list-text-box > p {
  color: var(--Mono-30);
  font-size: var(--Body-M);
  font-weight: var(--Body);
}
/* 온보딩 끝 */

/* gui 홈 시작 */
.sec-gui-home {
  position: relative;
  overflow-x: hidden;
  background-color: var(--Mono-100);
  padding-bottom: 14.4rem;
}
.sec-gui-home .sec-gui-home-grid {
  max-width: var(--maxWidth);
  margin: 0 auto;
}
.sec-gui-home .sec-gui-home-grid .background-img-box {
  position: absolute;
  top: 44rem;
  right: 0%;
}
.sec-gui-home .sec-gui-home-grid .sec-gui-home-text-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 30rem;
  left: 50%;
  translate: -50% -50%;
}
.sec-gui-home > .sec-gui-home-grid > .sec-gui-home-text-box > p:first-child {
  color: var(--MainOrange);
  font-weight: var(--BodyStrong);
  font-size: var(--Heading-S);
}
.sec-gui-home > .sec-gui-home-grid > .sec-gui-home-text-box > p:nth-child(2) {
  color: var(--Mono-22);
  font-weight: var(--Heading);
  font-size: var(--Heading-M);
}
.sec-gui-home > .sec-gui-home-grid > .sec-gui-home-text-box > p:last-child {
  color: var(--Mono-30);
  font-weight: var(--Body);
  font-size: var(--subHeading-M);
}
.sec-gui-home-grid .sec-gui-home-list-box {
  display: flex;
  align-items: end;
  gap: 2rem;
}
.sec-gui-home-grid .sec-gui-home-list-box .sec-gui-home-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.sec-gui-home-grid .sec-gui-home-list-box .sec-gui-home-list .sec-gui-home-list-text-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.sec-gui-home-grid .sec-gui-home-list-box .sec-gui-home-list .sec-gui-home-list-text-box .number-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 2.4rem;
  height: 2.4rem;
  background-color: var(--MainOrange);
  border-radius: 0.4rem;
}
.sec-gui-home-grid .sec-gui-home-list-box .sec-gui-home-list .sec-gui-home-list-text-box .number-box > span {
  color: var(--Mono-100);
  font-size: var(--Body-M);
  font-weight: var(--subHeading);
}
.sec-gui-home-grid .sec-gui-home-list-box .sec-gui-home-list .sec-gui-home-list-text-box > p {
  color: var(--Mono-30);
  font-size: var(--Body-M);
  font-weight: var(--Body);
}

/* gui 캐릭터 시작 */

/* 캐릭터 타이틀 시작 */
.sec-gui-character {
  position: relative;
  background-color: var(--Mono-100);
  overflow-x: hidden;
  padding: 10rem 0;
}
.sec-gui-character .sec-gui-character-grid {
  max-width: var(--maxWidth);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
.sec-gui-character .sec-gui-character-grid .sec-gui-character-title-box {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-left: 28.2rem;
}
.sec-gui-character-grid > .sec-gui-character-title-box > .title-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sec-gui-character-grid > .sec-gui-character-title-box > .title-text-box > p:nth-child(2) {
  color: var(--MainOrange);
  font-weight: var(--BodyStrong);
  font-size: var(--Heading-S);
}
.sec-gui-character-grid > .sec-gui-character-title-box > .title-text-box > p:nth-child(3) {
  color: var(--Mono-22);
  font-weight: var(--Heading);
  font-size: var(--Heading-M);
}
.sec-gui-character-grid > .sec-gui-character-title-box > .title-text-box > p:nth-child(4) {
  color: var(--Mono-30);
  font-weight: var(--Body);
  font-size: var(--subHeading-M);
}
.sec-gui-character-grid > .sec-gui-character-title-box .sec-gui-character-background-img-box {
  position: absolute;
  top: 50.6rem;
  right: -5rem;
}
/* 캐릭터 타이틀 끝 */

/* 캐릭터 타이틀 스크린 시작 */
.sec-gui-character-title-screen-box {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.sec-gui-character-title-screen-box .sec-gui-character-title-screen-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex: 1;
  height: 59.5rem;
  background-color: #fef3c7;
  padding: 4.8rem 2.4rem;
  border-radius: 2.4rem;
}
.sec-gui-character-grid .sec-gui-character-title-screen-box .sec-gui-character-title-screen-list .sec-gui-character-card-img-box img {
  width: 39rem;
}
.sec-gui-character-title-screen-box .sec-gui-character-title-screen-list .character-step-box {
  background-color: var(--MainOrange);
  border-radius: 1.2rem;
  padding: 0.5rem 1rem;
}
.sec-gui-character-title-screen-box .sec-gui-character-title-screen-list .character-step-box span {
  color: var(--Mono-97);
  font-size: var(--Body-M);
  font-weight: var(--BodyStrong);
  line-height: 1.8;
  text-align: center;
}
.sec-gui-character-title-screen-box .sec-gui-character-title-screen-list .sec-gui-character-title-screen-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
.sec-gui-character-title-screen-box .sec-gui-character-title-screen-list .sec-gui-character-title-screen-text-box > img {
  width: 2.4rem;
}
.sec-gui-character-title-screen-box .sec-gui-character-title-screen-list .sec-gui-character-title-screen-text-box > p:nth-child(2) {
  color: var(--Mono-30);
  font-size: var(--subHeading-L);
  font-weight: var(--subHeading);
}
.sec-gui-character-title-screen-box .sec-gui-character-title-screen-list .sec-gui-character-title-screen-text-box > p:nth-child(3) {
  color: var(--Mono-30);
  font-size: var(--Body-M);
  font-weight: var(--Body);
}
/* 캐릭터 타이틀 스크린 끝 */

/* 캐릭터 스크린 시작 */
.sec-gui-character-title-screen-box-2 {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 4.4rem;
}
.sec-gui-character-title-screen-box-2 > .sec-gui-character-screen-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.sec-gui-character-title-screen-box-2 .sec-gui-character-screen-list > .sec-gui-character-screen-list-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.sec-gui-character-title-screen-box-2 .sec-gui-character-screen-list > .sec-gui-character-screen-list-text-box > .number-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 2.4rem;
  height: 2.4rem;
  background-color: var(--MainOrange);
  border-radius: 0.4rem;
}
.sec-gui-character-title-screen-box-2 .sec-gui-character-screen-list > .sec-gui-character-screen-list-text-box > .number-box > span {
  color: var(--Mono-100);
  font-size: var(--Body-M);
  font-weight: var(--subHeading);
}
.sec-gui-character-title-screen-box-2 .sec-gui-character-screen-list > .sec-gui-character-screen-list-text-box p {
  color: var(--Mono-30);
  font-size: var(--Body-M);
  font-weight: var(--Body);
}
.sec-gui-character-title-screen-box-2 .sec-gui-character-screen-list > .sec-gui-character-screen-list-img-box > img {
  width: 39.47rem;
}
/* 캐릭터 스크린 끝 */

/* 리스트&리포트 시작 */
.sec-gui-list-report {
  overflow-x: hidden;
  background-color: var(--Mono-100);
  position: relative;
}
.sec-gui-list-report .sec-gui-list-report-background-img-box {
  position: absolute;
  top: 63.2rem;
  right: 0;
  width: 49.1rem;
}
.sec-gui-list-report .sec-gui-list-report-grid {
  max-width: var(--maxWidth);
  margin: 0 auto;
}
.sec-gui-list-report .sec-gui-list-report-grid .sec-gui-list-report-title-box {
  display: flex;
  gap: 2rem;
  position: relative;
  padding-left: 28.2rem;
  padding-bottom: 17rem;
}
.sec-gui-list-report .sec-gui-list-report-grid .sec-gui-list-report-title-box .sec-gui-list-report-title-text-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 10rem;
  padding-left: 6.6rem;
}
.sec-gui-list-report .sec-gui-list-report-grid .sec-gui-list-report-title-box .sec-gui-list-report-title-text-box > p:first-child {
  color: var(--MainOrange);
  font-weight: var(--BodyStrong);
  font-size: var(--Heading-S);
}
.sec-gui-list-report .sec-gui-list-report-grid .sec-gui-list-report-title-box .sec-gui-list-report-title-text-box > p:nth-child(2) {
  color: var(--Mono-22);
  font-weight: var(--Heading);
  font-size: var(--Heading-M);
}
.sec-gui-list-report .sec-gui-list-report-grid .sec-gui-list-report-title-box .sec-gui-list-report-title-text-box > p:last-child {
  color: var(--Mono-30);
  font-weight: var(--Body);
  font-size: var(--subHeading-M);
}
.sec-gui-list-report .sec-gui-list-report-grid .sec-gui-list-report-title-box .arrow-box {
  position: absolute;
  top: 48.3rem;
  left: 46%;
  translate: -50% -50%;
}
.sec-gui-list-report .sec-gui-list-report-grid .sec-gui-list-report-title-box .absolute-text-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  position: absolute;
  top: 48.3rem;
  left: 63%;
  translate: -50% -50%;
}
.sec-gui-list-report .sec-gui-list-report-grid .sec-gui-list-report-title-box .absolute-text-box .step-box {
  background-color: var(--MainOrange);
  border-radius: 1.2rem;
  padding: 0.5rem 1rem;
  width: fit-content;
}
.sec-gui-list-report .sec-gui-list-report-grid .sec-gui-list-report-title-box .absolute-text-box .step-box > span {
  color: var(--Mono-97);
  font-size: var(--Body-M);
  font-weight: 700;
  text-align: center;
  line-height: 1.8;
}
.sec-gui-list-report .sec-gui-list-report-grid .sec-gui-list-report-title-box .absolute-text-box > p {
  color: var(--Mono-30);
  font-size: var(--Body-M);
  font-weight: var(--Body);
  line-height: 1.8;
}
.sec-gui-list-report .sec-gui-list-report-grid .sec-gui-list-report-title-box .absolute-text-box .sec-gui-list-report-background-img-box {
  width: 49.1rem;
}
.sec-gui-list-report-title-img-box {
  width: 39.591rem;
}

/* 리스트&리포트 타이틀 끝 */

/* 리스트&리포트 스크린 시작 */
.sec-gui-list-report .sec-gui-list-report-grid .sec-gui-list-report-screen-box {
  display: flex;
  gap: 2rem;
}
.sec-gui-list-report .sec-gui-list-report-grid .sec-gui-list-report-screen-box .sec-gui-list-report-screen-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  flex: 1;
}
.sec-gui-list-report .sec-gui-list-report-grid .sec-gui-list-report-screen-box .sec-gui-list-report-screen-list .sec-gui-list-report-screen-list-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.sec-gui-list-report .sec-gui-list-report-grid .sec-gui-list-report-screen-box .sec-gui-list-report-screen-list .sec-gui-list-report-screen-list-text-box > .number-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  background-color: var(--MainOrange);
  border-radius: 0.4rem;
}
.sec-gui-list-report .sec-gui-list-report-grid .sec-gui-list-report-screen-box .sec-gui-list-report-screen-list .sec-gui-list-report-screen-list-text-box > .number-box > span {
  color: var(--Mono-100);
  font-size: var(--Body-M);
  font-weight: var(--subHeading);
}
.sec-gui-list-report .sec-gui-list-report-grid .sec-gui-list-report-screen-box .sec-gui-list-report-screen-list .sec-gui-list-report-screen-list-text-box > p {
  color: var(--Mono-30);
  font-size: var(--Body-M);
  font-weight: var(--Body);
}
.sec-gui-list-report .sec-gui-list-report-grid .sec-gui-list-report-screen-list-img-box {
  width: 39.5rem;
}
.sec-gui-list-report-screen-list-text-box .step-box {
  background-color: var(--MainOrange);
  border-radius: 1.2rem;
  padding: 0.5rem 1rem;
}
.sec-gui-list-report-screen-list-text-box .step-box > span {
  color: var(--Mono-97);
  font-size: var(--Body-M);
  font-weight: 700;
  text-align: center;
  line-height: 1.8;
}
.sec-gui-list-report-screen-list-text-box > p {
  color: var(--Mono-30);
  font-size: var(--Body-M);
  font-weight: var(--Body);
  line-height: 1.8;
}
.sec-gui-list-report-screen-list-2 {
  position: relative;
}
.sec-gui-list-report-screen-list-text-box-1,
.sec-gui-list-report-screen-list-text-box-2,
.sec-gui-list-report-screen-list-text-box-3,
.sec-gui-list-report-screen-list-text-box-4 {
  flex-direction: column;
  justify-content: start !important;
  align-items: start !important;
}
.sec-gui-list-report-screen-list-text-box-3 {
  position: absolute;
  top: 89.8rem;
  left: 5.3rem;
}
.sec-gui-list-report-screen-list-2 .arrow-box {
  position: absolute;
  top: 89.8rem;
  left: 2.3rem;
}
/* 풋터 시작 */

footer {
  overflow-x: hidden;
  position: relative;
  background-color: var(--MainOrange);
  height: 95rem;
}
footer > .footer-background-img-box-1 {
  position: absolute;
  bottom: 0;
  left: 0;
}
footer > .footer-background-img-box-2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
footer > .footer-background-img-box-1 > img {
  width: 41.032rem;
}
footer > .footer-background-img-box-2 > img {
  width: 37.424rem;
}
footer > .footer-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: var(--maxWidth);
  height: 100%;
  padding-top: 4rem;
  padding-bottom: 8rem;
  margin: 0 auto;
}
footer > .footer-grid > .logo-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
footer > .footer-grid > .logo-text-box > .logo-box > img {
  width: 28.3rem;
}
footer > .footer-grid > .logo-text-box > .text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
footer > .footer-grid > .logo-text-box > .text-box > p {
  color: var(--Mono-97);
  font-size: 4.2rem;
  font-weight: 700;
}
footer > .footer-grid > .logo-text-box > .text-box > img {
  width: 3.6rem;
  height: 3.6rem;
}
footer > .footer-grid > .footer-body-text-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 8rem;
}
footer > .footer-grid > .footer-body-text-box .footer-body-first-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  padding: 1rem 0;
}
footer > .footer-grid > .footer-body-text-box .footer-body-first-text-box > p {
  color: var(--Mono-100);
}
footer > .footer-grid > .footer-body-text-box .footer-body-first-text-box > p:nth-child(1) {
  font-size: 2.4rem;
  font-weight: 700;
}
footer > .footer-grid > .footer-body-text-box .footer-body-first-text-box > p:nth-child(2) {
  font-size: var(--Body-M);
  font-weight: var(--Body);
}
footer > .footer-grid > .footer-body-text-box .footer-body-last-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14rem;
  text-align: center;
  padding-top: 2.4rem;
}
footer > .footer-grid > .footer-body-text-box .footer-body-last-text-box > .footer-body-last-text-list > p {
  color: var(--Mono-100);
}
footer > .footer-grid > .footer-body-text-box .footer-body-last-text-box > .footer-body-last-text-list > p:nth-child(1) {
  font-size: var(--Body-L);
  font-weight: 600;
}
footer > .footer-grid > .footer-body-text-box .footer-body-last-text-box > .footer-body-last-text-list > p:nth-child(2) {
  font-size: var(--Body-M);
  font-weight: var(--Body);
}
