@charset "UTF-8";

html {
  font-size: max(0.52083333vw, 10px);
}

.content-wrap {
  max-width: var(--maxWidth);
  width: 100%;

  margin: 0 auto;
}

.img-box,
.svg-box {
  line-height: 0;
  font-size: 0;
}

.img-box > img {
  object-fit: cover;
}

/* component && lib */

/* comp for textbox */
.tag {
  font-weight: 700;
  font-size: var(--Heading-S);
  color: var(--MainOrange);
  margin-bottom: 1.6rem;
}

.hg {
  display: inline-block;
  font-weight: var(--Heading);
  font-size: var(--Heading-L);
  line-height: 1.3;
  background: linear-gradient(to right, var(--Mono-15), var(--Mono-40));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: 1.6rem;
}

.body {
  font-weight: var(--Body);
  font-size: var(--Body-L);
  line-height: 1.8;
  color: var(--Mono-30);
  strong {
    color: var(Mono-2);
  }
}

/* style */

body {
  background-color: var(--Mono-100) !important;
  color: var(--Mono-22);
}

/* -------------------------------------- sec hero -------------------------------------- */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.sec-hero {
  position: relative;
  overflow-x: hidden;
  min-height: 240rem;
  background: linear-gradient(to bottom, var(--MainOrange) 20%, var(--Mono-100) 100%);

  .svg-box {
    position: absolute;
    top: 24rem;
    left: 42rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  > .img-box {
    position: absolute;
    top: 38.4rem;
    left: -25rem;

    > img {
      width: 242rem;
      height: 133rem;
      object-fit: cover;
      max-width: initial;
    }
  }

  .content-wrap {
    display: flex;
    gap: 2.4rem;
    padding-top: 6rem;
    color: var(--Mono-100);

    span {
      display: inline-block;
      font-size: var(--Body-L);
      font-weight: var(--Body);

      &:nth-child(2) {
        margin-left: auto;
      }
    }
  }

  .marquee-container {
    position: absolute;
    top: 181.7rem;
    left: -20rem;
    background: var(--MainOrange);
    z-index: 2;

    width: 218.5rem;
    overflow-x: hidden;
    transform-origin: 50% 50%;
    transform: rotate(14deg);

    .marquee-wrapper {
      display: flex;
      width: 100%;

      animation: marquee 15s infinite linear reverse;

      .marquee {
        flex-shrink: 0;
        width: 100%;
      }
    }
  }
  .marquee-2 {
    width: 247.6rem;
    transform: rotate(-7deg);
    background: #ffa06b;
    z-index: 1;

    .marquee-wrapper {
      animation: marquee 16s infinite linear;
    }
  }
}
/* -------------------------------------- sec overview -------------------------------------- */
.sec-overview {
  display: flex;
  align-items: center;
  min-height: 100lvh;

  .text-box {
    text-align: center;
  }
}

/* -------------------------------------- sec background -------------------------------------- */
.sec-background {
  .content-wrap {
    padding: 20rem 0 10rem;
  }

  .source {
    display: inline-block;
    margin-top: 1rem;
    font-weight: 300;
    font-size: var(--Body-S);
    color: var(--Mono-50);
  }
}

.sec-background .box-1 {
  > .text-box {
    text-align: center;
  }

  /* card general */
  .card-box {
    display: flex;
    gap: 2rem;
    margin-top: 8rem;

    > .card {
      flex: 1 1 0;
      text-align: center;
      color: var(--Mono-22);

      .inner {
        text-align: start;
        background-color: var(--Mono-99);
        padding: 2.4rem;
        height: 40rem;
        border-radius: 2.4rem;

        > h3 {
          font-weight: 700;
          font-size: 2.4rem;
        }
      }
    }
  }
}

/* card-1 */
.sec-background .box-1 .card-box .card-1 {
  .inner {
    .graph-box {
      margin-top: 1.6rem;
      display: flex;
      align-items: end;
      justify-content: center;
      gap: 3.2rem;

      /* graph */
      .graph-1,
      .graph-2,
      .graph-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;

        .name {
          font-weight: 700;
          font-size: var(--Body-M);
          padding: 1.1rem 1.6rem;
          line-height: 1.3;
          background-color: var(--Mono-100);
          border-radius: 9rem;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
          transition: all 0.3s;

          &:hover {
            transform: scale(1.05);
          }
        }

        .bar {
          width: 4.7rem;
          height: 14.2rem;
          background: linear-gradient(to bottom, var(--MainOrange), var(--AccentRed));
          border-radius: 1.2rem 1.2rem 0.4rem 0.4rem;
          padding-top: 1rem;
          text-align: center;
          font-size: var(--Body-M);
          font-weight: 700;
          color: var(--Mono-100);
        }
      }

      .graph-2 {
        .bar {
          height: 8.4rem;
        }
      }

      .graph-3 {
        .bar {
          height: 5.5rem;
        }
      }
    }

    /* bottom text */
    .text-box {
      margin-top: 1.6rem;
      h5 {
        font-weight: var(--subHeading);
        font-size: var(--subHeading-M);
      }
      p {
        margin-top: 0.4rem;
        font-weight: var(--Body);
        font-size: var(--Body-M);
        color: var(--Mono-30);
      }
    }
  }
}

/* card-2 */
.sec-background .box-1 .card-box .card-2 {
  .inner {
    .graph-box {
      .bar-chart {
        font-weight: 700;
        font-size: var(--Body-M);
        margin-top: 3.4rem;

        .bar {
          position: relative;
          height: 4rem;
          overflow: hidden;
          border-radius: 9rem;
          background-color: var(--Mono-90);

          .bar-inner {
            position: absolute;
            top: 0;
            left: 0;

            display: flex;
            justify-content: end;
            align-items: center;

            width: 16.7rem;
            height: 100%;
            background: linear-gradient(to right, var(--Mono-40), var(--Mono-60));
            border-radius: 0 9rem 9rem 0;
            padding-right: 1rem;

            font-size: var(--Body-M);
            font-weight: 700;
            color: var(--Mono-100);
          }
        }
      }

      .graph-2 {
        margin-top: 0.8rem;
        .bar > .bar-inner {
          width: 25rem;
          background: linear-gradient(to right, var(--AccentRed), var(--MainOrange));
        }
      }
    }

    .bottom {
      display: flex;
      gap: 2rem;

      margin-top: 3.2rem;

      > .text-box {
        flex: 1 1 0;
        font-size: var(--Body-M);
        font-weight: var(--Body);
        color: var(--Mono-30);

        > p:first-of-type {
          font-weight: var(--subHeading);
          font-size: var(--subHeading-M);
          margin-bottom: 0.8rem;
        }
      }
    }
  }
}

/* card-3 */
.sec-background .box-1 .card-box .card-3 {
  .inner {
    h3 {
      margin-bottom: 6rem;
    }
    h5 {
      font-weight: var(--subHeading);
      font-size: var(--subHeading-M);
      margin-bottom: 1.6rem;
    }
    p {
      font-weight: var(--Body);
      font-size: var(--Body-M);
      color: var(--Mono-30);
      line-height: 1.8;
    }
  }
}

/* sec background bottom box */
.sec-background .box-2 {
  padding-top: 20rem;
  > .text-box {
    text-align: center;
    padding-bottom: 8rem;

    .hg {
      font-size: var(--Heading-M);
    }
  }

  .card-box {
    display: flex;
    gap: 2rem;

    .card {
      flex: 1 1 0;
      text-align: center;

      .inner {
        background-color: var(--Mono-99);
        text-align: start;
        padding: 2.4rem;
        border-radius: 2rem;

        h5 {
          font-weight: 700;
          font-size: var(--subHeading-M);
          margin-bottom: 1.6rem;
        }

        .middle {
          font-weight: 700;
          font-size: var(--Heading-M);
          color: var(--MainOrange);
          margin-bottom: 1.6rem;

          .years {
            font-size: var(--Body-M);
            color: var(--Mono-40);
          }
        }

        p {
          font-weight: var(--Body);
          font-size: var(--Body-M);
        }
      }
    }
  }
}
